<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Latitud: {{lat}}</p>
  <p>Longitud: {{lon}}</p>

  <div id="map_canvas"></div>
</ion-content>
